<div class="map container-fluid" style="padding-left: 0px; padding-right: 0px">

    <div class="row">
        <div class="map-panel col-md-10 col-xs-9" id="omirlMap" ol-map zoom="4" center="8.60,44.20"
             controls="zoom,navigation,attribution,mousePosition"></div>
        <!--<div class="map-controls-panel" >
        <!--        col-md-10 col-xs-9          -->

        <!-- Manuel nax DX -->
                <!-- Manuel nav display none -->
        <nav class="map-controls-panel col-md-2 col-xs-3" id="mapNavigation" >
            <!--      col-xs-6 col-md-2       -->

            <!--<div class="map-geo-search grid row ">
                <div class="map-geo-search-text col-xs-8 col-md-8">
                    <input type="search" class="form-control" placeholder="Cerca Localita'">
                </div>
                <div class="map-geo-search-btn col-xs-2 col-md-2">
                    <button class="btn">Cerca</button>
                </div>
            </div> -->


            <div class="side-bar-toggle">
                <i class=""
                   ng-class="{'fa fa-align-justify fa-rotate-90': !m_oController.isSideBarCollapsed(), 'fa fa-align-justify':m_oController.isSideBarCollapsed()}"
                   ng-click="m_oController.toggleSideBarClicked()"></i>
            </div>


            <!--Map geo-->

            <div class="map-geo-search input-group">
                <input type="search" class="map-geo-search-text form-control" ng-model="m_oController.m_sGeocodingQuery"
                       placeholder="Cerca Localita'" ng-keypress="m_oController.geocodingEnterSearch($event)">
                <span class="input-group-btn">
                    <a ng-click="m_oController.geocodingSearch()"><i
                            class="map-geo-search-button glyphicon glyphicon-search"></i></a>
                </span>
            </div>

            <!-- Manuel - Link Menu principale -->
            <ul class="map-weather-panel" style="width: 100%;">
                <li class="map-weather-panel-icon"><a href="#acronetwork"><span class="glyphicon glyphicon-home"></a></span></li>
                <li><a href="#ucon"><i class="fa fa-table"></i></a></li>
                <li><a href="#ucon"><i class="fa omirl-sat-ground"></i></a></li>
                <li><a href="#ucon"><i class="fa fa-globe"></i></a></li>
            </ul>
            <br /><br />

            <!-- TAB gestione lingue -->
            <script type="application/javascript">
                $('#myTab a').click(function (e) {
                    e.preventDefault()
                    $(this).tab('show')
                })

            </script>


            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 10px; padding-right: 10px;">
                    <ul id="myTab" class="nav nav-tabs languageSel" role="tablist">
                        <li role="presentation" class="active"><a href="#SchedaIT" role="tab" data-toggle="tab"><img src="img/it.png" alt="" /></a></li>
                        <li role="presentation"><a href="#SchedaEN" role="tab" data-toggle="tab"><img src="img/en.png" alt="" /></a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div id="TablanguageSel" class="tab-content">
                        <!-- Scheda ITALIANO -->
                        <div role="tabpanel" class="tab-pane fade in active" id="SchedaIT">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 5px; padding: 5px;">
                                    <a href="#linkprogettoIT" target="_blank"><img src="img/img-test-mockup/logo_progetto.png" al="" style="max-width:100%; max-height: 60px;" /></a>
                                    <br /><br />
                                    <div style="text-align: justify;"><span style="font-size: 12px;">Tra gli obiettivi del progetto, è incluso il rafforzamento sostenibile delle reti di monitoraggio utilizzando stazioni di misura open hardware.</span></div>
                                    <br /><br />
                                    <span style="font-size:12px;"><strong>Partnership</strong></span>
                                    <div style="border-top:solid 1px #c0c0c0; height: 5px;"></div>
                                    <a href="#linkpartner01" target="_blank"><img src="img/img-test-mockup/logo_partner_01.png" alt="" style="max-width: 50px; max-height: 50px;"/></a>
                                    <a href="#linkpartner02" target="_blank"><img src="img/img-test-mockup/logo_partner_02.png" alt="" style="max-width: 50px; max-height: 50px;"/></a>
                                    <a href="#linkpartner03" target="_blank"><img src="img/img-test-mockup/logo_partner_03.png" alt="" style="max-width: 50px; max-height: 50px;"/></a>
                                </div>
                            </div>
                            <br />
                            <button id="btn-scheda-it" type="button" class="an_btn_details an_btn_details_selected" tooltip-popup-delay="500" tooltip="SCHEDA"><span class="glyphicon glyphicon-list-alt"></span></button>
                            <button id="btn-conf-it" type="button" class="an_btn_details" tooltip-popup-delay="500" tooltip="CONFIGURAZIONE"><span class="glyphicon glyphicon-cog"></span></button>
                            <button id="btn-kit-it" type="button" class="an_btn_details" tooltip-popup-delay="500" tooltip="KIT"><i class="fa fa-archive"></i></button>
                            <button id="btn-img-it" type="button" class="an_btn_details_last" tooltip-popup-delay="500" tooltip="IMMAGINE"><span class="glyphicon glyphicon-picture"></span></button>

                            <!--<div class="an_btn_details"></div>
                            <div class="an_btn_details"></div>
                            <div class="an_btn_details_last"></div>-->

                            <br style="clear: left;" />
                            <br />

                            <!-- Sessione scheda del progetto  -->
                            <div id="sk_scheda_it" class="row"">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 an_box_dett_progetto">
                                    <h4>Scheda stazione</h4>
                                    <div style="height:15px; border-top:solid 1px #c0c0c0;"></div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <span class="glyphicon glyphicon-info-sign"></span> Nome/ID stazione:
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                             Quiliano/00011
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <span class="glyphicon glyphicon-globe"></span>  Rete stazione:
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            Quiliano Municipality
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <span class="glyphicon glyphicon-user"></span> Riferimento:
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            Dott. Nicola Bina
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <span class="glyphicon glyphicon-tag"></span> Variabili:
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            Hydrometric Level
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                            <!-- /Sessione scheda del progetto  -->

                            <!-- Sessione configurazione progetto  -->
                            <div id="sk_conf_it" class="row" style="display: none;">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 an_box_dett_progetto">
                                    <h4>Configurazione</h4>
                                    <div style="height:10px; border-top:solid 1px #c0c0c0;"></div>
                                    <a href="#linkconfigurazioneIT" target="_blank"><img src="img/img-test-mockup/Configurazione.png" alt="" class="img-thumbnail img-responsive"/> </a>
                                </div>
                            </div>
                            <!-- /Sessione configurazione progetto  -->

                            <!-- Sessione KIT progetto  -->
                            <div id="sk_kit_it" class="row" style="display: none;">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 an_box_dett_progetto">
                                    <h4>KIT Stazione</h4>
                                    <div style="height:10px; border-top:solid 1px #c0c0c0;"></div>
                                    <a href="#linkKitIT" target="_blank"><img src="img/img-test-mockup/KIT.png" alt="" class="img-thumbnail img-responsive"/> </a>
                                </div>
                            </div>
                            <!-- /Sessione KIT progetto  -->

                            <!-- Sessione Immagine progetto  -->
                            <div id="sk_img_it" class="row" style="display: none;">
                                <h4>Foto impianto</h4>
                                <div style="height:10px; border-top:solid 1px #c0c0c0;"></div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 an_box_dett_progetto">
                                    <img src="img/img-test-mockup/Foto_impianto.png" alt="" class="img-thumbnail img-responsive"/>
                                </div>
                            </div>
                            <!-- /Sessione Immagine progetto  -->

                        </div>
                        <!-- /Scheda ITALIANO -->

                        <!-- Scheda inglese -->
                        <div role="tabpanel" class="tab-pane fade" id="SchedaEN">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 5px; padding: 5px;">
                                    <a href="#linkprogettoEN" target="_blank"><img src="img/img-test-mockup/logo_progetto.png" al="" style="max-width:100%; max-height: 60px;" /></a>
                                    <br /><br />
                                    <div style="text-align: justify;"><span style="font-size: 12px;">Amongst the goals of the project, the sustainable strengthening of the monitoring networks with open hardware measuring stations is included. </span></div>
                                    <br /><br />
                                    <span style="font-size:12px;"><strong>Partnership</strong></span>
                                    <div style="border-top:solid 1px #c0c0c0; height: 5px;"></div>
                                    <a href="#linkpartner01" target="_blank"><img src="img/img-test-mockup/logo_partner_01.png" alt="" style="max-width: 50px; max-height: 50px;"/></a>
                                    <a href="#linkpartner02" target="_blank"><img src="img/img-test-mockup/logo_partner_02.png" alt="" style="max-width: 50px; max-height: 50px;"/></a>
                                    <a href="#linkpartner03" target="_blank"><img src="img/img-test-mockup/logo_partner_03.png" alt="" style="max-width: 50px; max-height: 50px;"/></a>
                                </div>
                            </div>
                            <br />
                            <button id="btn-scheda-en" type="button" class="an_btn_details an_btn_details_selected" tooltip-popup-delay="500" tooltip="FORM"><span class="glyphicon glyphicon-list-alt"></span></button>
                            <button id="btn-conf-en" type="button" class="an_btn_details" tooltip-popup-delay="500" tooltip="CONFIGURATION"><span class="glyphicon glyphicon-cog"></span></button>
                            <button id="btn-kit-en" type="button" class="an_btn_details" tooltip-popup-delay="500" tooltip="KIT"><i class="fa fa-archive"></i></button>
                            <button id="btn-img-en" type="button" class="an_btn_details_last" tooltip-popup-delay="500" tooltip="IMAGE"><span class="glyphicon glyphicon-picture"></span></button>

                            <!--<div class="an_btn_details"></div>
                            <div class="an_btn_details"></div>
                            <div class="an_btn_details_last"></div>-->

                            <br style="clear: left;" />
                            <br />

                            <!-- Sessione scheda del progetto  -->
                            <div id="sk_scheda_en" class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 an_box_dett_progetto">
                                    <h4>Station details</h4>
                                    <div style="height:15px; border-top:solid 1px #c0c0c0;"></div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <span class="glyphicon glyphicon-info-sign"></span> Station Name/ID:
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            Quiliano/00011
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <span class="glyphicon glyphicon-globe"></span>  Station Network:
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            Quiliano Municipality
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <span class="glyphicon glyphicon-user"></span> Ref. Person:
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            Dott. Nicola Bina
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <span class="glyphicon glyphicon-tag"></span> Variable(s):
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            Hydrometric Level
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                            <!-- /Sessione scheda del progetto  -->

                            <!-- Sessione configurazione progetto  -->
                            <div id="sk_conf_en" class="row" style="display: none;">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 an_box_dett_progetto">
                                    <h4>Configuration</h4>
                                    <div style="height:10px; border-top:solid 1px #c0c0c0;"></div>
                                    <a href="#linkconfigurazioneIT" target="_blank"><img src="img/img-test-mockup/Configurazione.png" alt="" class="img-thumbnail img-responsive"/> </a>
                                </div>
                            </div>
                            <!-- /Sessione configurazione progetto  -->

                            <!-- Sessione KIT progetto  -->
                            <div id="sk_kit_en" class="row" style="display: none;">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 an_box_dett_progetto">
                                    <h4>KIT</h4>
                                    <div style="height:10px; border-top:solid 1px #c0c0c0;"></div>
                                    <a href="#linkKitIT" target="_blank"><img src="img/img-test-mockup/KIT.png" alt="" class="img-thumbnail img-responsive"/> </a>
                                </div>
                            </div>
                            <!-- /Sessione KIT progetto  -->

                            <!-- Sessione Immagine progetto  -->
                            <div id="sk_img_en" class="row" style="display: none;">
                                <h4>Installation Image</h4>
                                <div style="height:10px; border-top:solid 1px #c0c0c0;"></div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 an_box_dett_progetto">
                                    <img src="img/img-test-mockup/Foto_impianto.png" alt="" class="img-thumbnail img-responsive"/>
                                </div>
                            </div>
                            <!-- /Sessione Immagine progetto  -->
                        </div>
                        <!-- /Scheda inglese -->
                    </div>
                </div>
            </div>

            <!--/ TAB gestione lingue -->

            <!--Map weather-->
            <ul class="map-weather-panel" style="display: none;">
                <li class="map-weather-panel-icon"
                    ng-class="{'map-firstlevel-icon-selected': m_oController.m_bIsWeatherActive}"
                    tooltip-popup-delay="500" tooltip="Situazione Attuale del Tempo">
                    <img class="img-map-firstlevel-icon"
                         ng-src="{{m_oController.m_bIsWeatherActive == true && 'img/chetempofa_on3.png' || 'img/chetempofa.png'}}"
                         ng-click="m_oController.ToggleWeatherLayer()"/>
                </li>
                <!--sfondi-->

                <li class="map-base-layer dropdown">
                    <a id="basemaps" data-toggle="dropdown" tooltip-popup-delay="500" tooltip="Sfondo"><i
                            class="icon icon-earth2"></i></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="statics">
                        <li role="presentation">
                            <a class="basemaps-dropdown-menu-item" role="menuitem"
                               ng-click="m_oController.setBaseLayer('OSM')">OSM</a>
                        </li>
                        <li role="presentation">
                            <a class="basemaps-dropdown-menu-item" role="menuitem"
                               ng-click="m_oController.setBaseLayer('Hybrid')">Google Hybrid</a>
                        </li>
                        <li role="presentation">
                            <a class="basemaps-dropdown-menu-item" role="menuitem"
                               ng-click="m_oController.setBaseLayer('Streets')">Google Streets</a>
                        </li>
                        <li role="presentation">
                            <a class="basemaps-dropdown-menu-item" role="menuitem"
                               ng-click="m_oController.setBaseLayer('Physical')">Google Physical</a>
                        </li>
                        <li role="presentation">
                            <a class="basemaps-dropdown-menu-item" role="menuitem"
                               ng-click="m_oController.setBaseLayer('Satellite')">Google Satellite</a>
                        </li>
                    </ul>
                </li>


                <!--Layer statici -->

                <li class="map-statics dropdown">
                    <a id="statics" data-toggle="dropdown" tooltip-popup-delay="500" tooltip="Strati informativi"><i
                            class="icon icon-map-roads pull-left"></i></a>
                    <ul class="icons-dropdown-menu dropdown-menu" role="menu" aria-labelledby="basemaps">
                        <li role="presentation" ng-repeat="oStatic in m_oController.getStaticLinks()">
                            <a class="basemaps-dropdown-menu-item"
                               ng-class="{'basemaps-dropdown-menu-item-selected': oStatic.selected}" role="menuitem"
                               ng-click="m_oController.staticLayerClicked(oStatic)">{{oStatic.description}}</a>
                        </li>
                    </ul>
                </li>


                <!--zoom-->

                <li class="map-reset-zoom">
                    <a id="resetzoom" tooltip-popup-delay="500" tooltip="Reset Zoom"
                       ng-click="m_oController.resetZoomClick()"><i class="fa fa-arrows-alt"></i></a>
                </li>


            </ul>
            <br/>

            <div id="omirl-collapsable-panels" style="display: none;">


                <!--------------------------------------------------------------------------- Stazioni --------------------------------------------------------------------------->

                <accordion close-others="true" style="color:#4e0283;">
                    <accordion-group>
                        <accordion-heading>
                            <div>
                                <div class="icon icon-gauge pull-left"></div>
                                <span class="map-accordion-title">Stazioni</span>
                                <i class="pull-right glyphicon"
                                   ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                            </div>
                        </accordion-heading>
                        <div class="map-accordion-content">
                            <div class="row">
                                <div class="map-text-legend">

                                    <div class="map-text-legend-selected">{{m_oController.m_sSensorLegendSelected}}
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div ng-repeat="oSensor in m_oController.getSensorLinks()"
                                     class="col-md-1 col-xs-1 map-firstlevel-icon"
                                     ng-class="{'map-firstlevel-icon-selected': oSensor.isActive}"
                                     tooltip-popup-delay="500" tooltip="{{oSensor.description}}" ng-show="oSensor.isVisible">
                                    <!--<img ng-src="{{oSensor.isActive && oSensor.imageLinkOn || oSensor.imageLinkOff }}" ng-click="m_oController.sensorLinkClicked(oSensor)"/>-->
                                    <img class="img-map-firstlevel-icon" ng-src="{{oSensor.imageLinkOff}}"
                                         ng-click="m_oController.sensorLinkClicked(oSensor)"/>
                                </div>
                            </div>

                            <!--<div class="row">
                                <div class="col-md-3 col-xs-3 map-tablelink-icon" tooltip-popup-delay="500" tooltip="Filtro di ricerca stazioni">
                                    <!--<img ng-src="{{oSensor.isActive && oSensor.imageLinkOn || oSensor.imageLinkOff }}" ng-click="m_oController.sensorLinkClicked(oSensor)"/>-->
                                    <!--<img class="img-map-tablelink-icon" src="img/tablelink.png" ng-click="m_oController.tablesLinkClicked()"/>
                                </div>
                            </div>-->
                        </div>
                    </accordion-group>


                    <!--------------------------------------------------------------------------- Mappe --------------------------------------------------------------------------->

                    <accordion-group ng-class="{'map-accordion-open' : isopen}">
                        <accordion-heading>
                            <div class="icon icon-earth2 pull-left"></div>
                            <span class="map-accordion-title">Mappe</span><i class="pull-right glyphicon"
                                                                             ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                        </accordion-heading>
                        <div class="map-accordion-content">
                            <div class="row">
                                <div class="map-text-legend">


                                    <div class="map-text-legend-selected">{{m_oController.m_sMapLegendSelected}}</div>


                                    <div class="map-text-legend-hover">{{m_oController.m_sMapLegendHover}}</div>

                                </div>
                                <div class="map-back-icon hi-icon-effect-1 hi-icon-effect-1a">
                                    <i class="fa fa-arrow-circle-o-left" ng-show="!m_oController.m_bIsFirstLevel"
                                       ng-click="m_oController.mapLinkClicked(null)"></i>

                                </div>
                            </div>

                            <ul class="row dropdown">
                                <li ng-show="m_oController.m_bShowThirdLevel">
                                    <button type="button" class="btn btn-info dropdown-toggle map-third-level-link"
                                            data-toggle="dropdown">{{m_oController.m_sMapThirdLevelSelected}}&nbsp;<span
                                            class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="oThirdLevel in m_oController.getThirdLevels()"><a
                                                ng-click="m_oController.thirdLevelClicked(oThirdLevel)">{{oThirdLevel.description}}</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>

                            <div class="row">
                                <div ng-repeat="oMapLink in m_oController.getMapLinks()"
                                     class="col-md-1 col-xs-1 map-firstlevel-icon"
                                     ng-class="{'map-firstlevel-icon-selected': oMapLink.selected}"
                                     tooltip-popup-delay="500" tooltip="{{oMapLink.description}}"><img
                                        class="img-map-firstlevel-icon" src="{{oMapLink.link}}"
                                        ng-click="m_oController.mapLinkClicked(oMapLink)"/></div>
                            </div>
                        </div>
                    </accordion-group>






                    <!--------------------------------------------------------------------------- Idro Models --------------------------------------------------------------------------->

                    <accordion-group ng-class="{'map-accordion-open' : isopen}" ng-show="m_oController.m_bShowHydro">
                        <accordion-heading>
                            <div class="icon icon-chart-line pull-left"></div>
                            <span class="map-accordion-title">Idro</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                        </accordion-heading>
                        <div class="map-accordion-content">
                            <div class="row">
                                <div class="map-text-legend">
                                    <div class="map-text-legend-selected">{{m_oController.m_sHydroLegendSelected}}</div>
                                    <div class="map-text-legend-hover">{{m_oController.m_sHydroLegendHover}}</div>
                                </div>
                                <div class="map-back-icon hi-icon-effect-1 hi-icon-effect-1a">
                                    <i class="fa fa-arrow-circle-o-left" ng-show="!m_oController.m_bIsHydroFirstLevel"
                                       ng-click="m_oController.HydroLinkClicked(null)"></i>

                                </div>
                            </div>

                            <div class="row">
                                <div ng-repeat="oHydroLink in m_oController.getHydroLinks()"
                                     class="col-md-1 col-xs-1 map-firstlevel-icon"
                                     ng-class="{'map-firstlevel-icon-selected': oHydroLink.selected}"
                                     tooltip-popup-delay="500" tooltip="{{oHydroLink.description}}"><img
                                        class="img-map-firstlevel-icon" src="{{oHydroLink.link}}"
                                        ng-click="m_oController.HydroLinkClicked(oHydroLink)"/></div>
                            </div>
                        </div>
                    </accordion-group>




                    <!--------------------------------------------------------------------------- Radar --------------------------------------------------------------------------->

                    <accordion-group ng-class="{'map-accordion-open' : isopen}" ng-show="m_oController.m_bShowRadar">
                        <accordion-heading>
                            <div class="icon icon-radar pull-left"></div>
                            <span class="map-accordion-title">Radar</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                        </accordion-heading>
                        <div class="map-accordion-content">
                            <div class="row">
                                <div class="map-text-legend">
                                    <div class="map-text-legend-selected">{{m_oController.m_sRadarLegendSelected}}</div>
                                    <div class="map-text-legend-hover">{{m_oController.m_sRadarLegendHover}}</div>
                                </div>
                                <div class="map-back-icon hi-icon-effect-1 hi-icon-effect-1a">
                                    <i class="fa fa-arrow-circle-o-left" ng-show="!m_oController.m_bIsRadarFirstLevel"
                                       ng-click="m_oController.RadarLinkClicked(null)"></i>

                                </div>
                            </div>

                            <div class="row">
                                <div ng-repeat="oRadarLink in m_oController.getRadarLinks()"
                                     class="col-md-1 col-xs-1 map-firstlevel-icon"
                                     ng-class="{'map-firstlevel-icon-selected': oRadarLink.selected}"
                                     tooltip-popup-delay="500" tooltip="{{oRadarLink.description}}"><img
                                        class="img-map-firstlevel-icon" src="{{oRadarLink.link}}"
                                        ng-click="m_oController.RadarLinkClicked(oRadarLink)"/></div>
                            </div>
                        </div>
                    </accordion-group>






                    <!--------------------------------------------------------------------------- Satellite --------------------------------------------------------------------------->

                    <accordion-group ng-class="{'map-accordion-open' : isopen}" ng-show="m_oController.m_bShowSatellite">
                        <accordion-heading>
                            <div class="icon icon-antenna pull-left"></div>
                            <span class="map-accordion-title">Satellite</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                        </accordion-heading>
                        <div class="map-accordion-content">
                            <div class="row">
                                <div class="map-text-legend">
                                    <div class="map-text-legend-selected">{{m_oController.m_sSatelliteLegendSelected}}</div>
                                    <div class="map-text-legend-hover">{{m_oController.m_sSatelliteLegendHover}}</div>
                                </div>
                                <div class="map-back-icon hi-icon-effect-1 hi-icon-effect-1a">
                                    <i class="fa fa-arrow-circle-o-left" ng-show="!m_oController.m_bIsSatelliteFirstLevel"
                                       ng-click="m_oController.SatelliteLinkClicked(null)"></i>

                                </div>
                            </div>

                            <div class="row">
                                <div ng-repeat="oSatelliteLink in m_oController.getSatelliteLinks()"
                                     class="col-md-1 col-xs-1 map-firstlevel-icon"
                                     ng-class="{'map-firstlevel-icon-selected': oSatelliteLink.selected}"
                                     tooltip-popup-delay="500" tooltip="{{oSatelliteLink.description}}"><img
                                        class="img-map-firstlevel-icon" src="{{oSatelliteLink.link}}"
                                        ng-click="m_oController.SatelliteLinkClicked(oSatelliteLink)"/></div>
                            </div>
                        </div>
                    </accordion-group>





                </accordion>
            </div>
        </nav>
    </div>
</div>


<div class="container">
    <div class="row map-legend-map  pull-right" ng-show="m_oController.m_bDynamicLayerActive">
        <a tooltip-popup-delay="500" tooltip="{{m_oController.m_sMapLegendTooltip}}"
           ng-click="m_oController.mapLegendClicked()">
            <table>

                <tr>
                    <td><img class="map-legend-icon" src="{{m_oController.m_sMapLegendIconPath}}"></td>
                    <td><img class="map-legend-image" src="{{m_oController.m_sMapLegendPath}}"
                             ng-show="m_oController.m_bShowMapLegendImage"></td>
                </tr>

            </table>
        </a>
    </div>

    <div class="row map-legend-stations pull-right" ng-show="m_oController.m_bSensorLayerActive">
        <a tooltip-popup-delay="500" tooltip="{{m_oController.m_sSensorLegendTooltip}}"
           ng-click="m_oController.sensorsLegendClicked()">
            <table>

                <tr>
                    <td><img class="sensor-legend-icon" src="{{m_oController.m_sSensorsLegendIconPath}}"></td>
                    <td><img class="map-legend-image" src="{{m_oController.m_sSensorsLegendPath}}"
                             ng-show="m_oController.m_bShowSensorsLegendImage"></td>

                </tr>

            </table>

        </a>

    </div>
</div>
